**/__pycache__/
**/*.pyc
**/*.pyo

**/.Rhistory

venv/
env/

.vscode/
.idea/

*.log
.DS_Store
dist/
build/
*.egg-info/


testing.py
testing_2.py
data_asfloat32.py
**/notebooks_plotting
**/img
**/.ipynb_checkpoints